*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

#local.properties

# di sini ku exclude karna size folder unityLibrary agak gede
# exclude everything
unityLibrary/*

# exception to the rule
!unityLibrary/.gitkeep